@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
    --white-qr-card-article: hsl(0, 0%, 100%);
    --slate-color-body-300: hsl(212, 45%, 89%);
    --slate-fon-paragraph-500: hsl(216, 15%, 48%);
    --slate-color-title-900: hsl(218, 44%, 22%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Outfit', sans-serif;
    background-color: var(--slate-color-body-300);
    padding: 1.5rem;
}

.page-main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    gap: 1.5rem;
}

.qr-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 20rem;
    width: 100%;
    background-color: var(--white-qr-card-article);
    padding: 1rem;
    border-radius: 1.25rem;
    box-shadow: 0px 25px 20px rgba(0,0,0,0.05)

}

.qr-card__imge {
    width: 100%;
    border-radius: 0.75rem;

}

.qr-card__title {
    color: var(--slate-color-title-900);
    font-weight: 700;
    font-size: 1.375rem;
    padding-top: 1.2rem 0.5rem 0;
    inline-size: 1.3;
}

.qr-card__paragraph {
    color: var(--slate-fon-paragraph-500);
    font-size:  15px;
    font-weight: 400;
    padding-bottom: 23px;
    padding-top: 18px;
    line-height: 1.4;
}

.attribution {
    font-size: 0.6875rem;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}